<p id="notice"><%= notice %></p>

<h1><%= t('SAMPA lists') %></h1>

<table class="table">
  <thead>
    <tr>
      <th scope="col"><%= t('Name') %></th>
      <th scope="col"><%= t('Phonemes') %></th>
      <th scope="col"><%= t('Dictionaries') %></th>
    </tr>
  </thead>

  <tbody>
    <% @sampas.each do |sampa| %>
      <tr>
        <td><%= link_to "#{sampa.name}", sampa %></td>
        <td><%= sampa.phonemes %></td>
        <td>
        <% sampa.dictionaries.all.load do |dict| %>
          <%= dict.name + ' ' %>
        <% end %>
        </td>
        <td><%= link_to t('Destroy'), sampa, method: :delete, data: { confirm: t('Are you sure?') } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= link_to t('New Entry'), new_sampa_path %>