<p id="notice"><%= notice %></p>

<p>
  <strong><%= t('Word') %>:</strong>
  <%= @entry.word %>
</p>

<p>
  <strong><%= t('SAMPA') %>:</strong>
  <%= @entry.sampa %>
</p>

<p>
  <strong><%= t('Comment') %>:</strong>
  <%= @entry.comment %>
</p>

<p>
  <strong><%= t('Modified') %>:</strong>
  <%= @entry.updated_at %>
</p>

<%= link_to t('Edit'), edit_dictionary_entry_path(@dictionary, @entry) %> |
<%= link_to t('Back'), :back %>
