<p id="notice"><%= notice %></p>

<p>
  <strong>Word:</strong>
  <%= @entry.word %>
</p>

<p>
  <strong>SAMPA:</strong>
  <%= @entry.sampa %>
</p>

<p>
  <strong>Comment:</strong>
  <%= @entry.comment %>
</p>

<p>
  <strong>Modified:</strong>
  <%= @entry.updated_at %>
</p>

<%= link_to 'Edit', edit_dictionary_entry_path(@dictionary, @entry) %> |
<%= link_to 'Back', :back %>
