<p></p>

<div class="container">
  <div class="row">
    <div class="col">
      <strong>Dictionary:</strong>
      <%= @dictionary.name %>
    </div>
    <div class="col">
      <strong>Words:</strong>
      <%= @entry_count %>
    </div>
    <% unless @dictionary.sampa.nil? %>
      <div class="col">
        <strong>SAMPA List:</strong>
        <%=  @dictionary.sampa.name %>
      </div>
    <% end %>
  </div>
</div>
<p>

</p>

<table class="table table-sm table-striped">
  <caption>List of words and their SAMPAS</caption>
  <tr>
    <th scope="col" class="col-sm-3">Word</th>
    <th scope="col" class="col-sm-4">SAMPA</th>
    <th scope="col">Comment</th>
  </tr>
  <% @entries.each do |entry| %>
    <tr>
      <td><%= link_to "#{entry.word}", edit_dictionary_entry_path(@dictionary, entry)  %></td>
      <% if sampa_correct?(entry) %>
        <td class="table-success"><%= entry.sampa %></td>
      <% else %>
        <td class="table-warning"><%= entry.sampa %></td>
      <% end %>
      <td><%= entry.comment %></td>
    </tr>
  <% end %>
</table>

<%== pagy_bootstrap_nav(@pagy) %>

<%= link_to 'Edit', edit_dictionary_path(@dictionary) %> |
<%= link_to 'Back', :back %>
